# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs / temp
*.log
tmp/
temp/

# Large forensic artifacts (VERY important)
*.raw
*.mem
*.dmp
*.dd
*.img
*.aff4
*.E01
*.zip
*.7z
*.rar
